@charset "utf-8";
/* CSS Document */

.container {
			width: 100%;
			margin: 1.6rem auto;
			max-width: 42rem;
			text-align: center;
		}

		.demo-picked {
			font-size: 1.2rem;
			text-align: center;
		}

		.demo-picked span {
			font-weight: bold;
		}